<nb-layout-header fixed>

       <!-- <div class="logo-containter"> -->

        <div (click)="goToHome()"><img src="assets/images/logo_grey.png" /></div>
      <!-- </div> -->
      <div class='section right'>


      <nb-actions size="small">
    <!--<nb-action (click)=showConfirm()>Accedi</nb-action>-->
    <nb-action >Accedi</nb-action>
    <nb-action >Registrati</nb-action>
    <nb-action >Scarica l'APP</nb-action>
    <nb-action >Ita</nb-action>
  </nb-actions>
      </div>


</nb-layout-header>
<button class="btn btn-default" >Show confirm</button>
