// this is your created themes.scss file, make sure the path to the file is correct
@import './theme';
// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';

// install the framework
@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */
//@import '~@ngx-gallery/core/styles/scss/gallery';

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}